:host {
  display: block;
  margin: 0 50px;
}

table.mat-mdc-table {
  max-width: 1000px;
  min-width: none;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover {
  background-color: #e2f1ff;
}

.no-data-row .mat-cell {
  height: 50px;
  text-align: center;
}
